replicaCount: 2

image:
  repository: avkhaladkar1991/nodejs-devops-app
  tag: "5"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 3000

resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 200m
    memory: 256Mi

ingress:
  enabled: true
  className: nginx
  host: nodejs.local
  path: /

autoscaling:
  enabled: true
  minReplicas: 2
  maxReplicas: 5
  targetCPUUtilizationPercentage: 70

env:
  MONGO_URI: "mongodb://mongodb:27017/mydatabase"