replicaCount: 4

image:
  repository: avkhaladkar1991/nodejs-devops-app
  tag: "1"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 3000

resources:
  limits:
    cpu: 1000m
    memory: 1Gi
  requests:
    cpu: 500m
    memory: 512Mi

ingress:
  enabled: true
  className: nginx
  host: nodejs-prod.local
  path: /

autoscaling:
  enabled: true
  minReplicas: 4
  maxReplicas: 10
  targetCPUUtilizationPercentage: 60

env:
  MONGO_URI: "mongodb://mongodb:27017/prod-db"